<h1 style="margin-top:50px;margin-bottom:30px;text-align:center;">About PICK-A-BOOK</h1>
<p style="margin-left:70px;text-align:justify;margin-right: 70px;margin-bottom: 50px;">About PICK-A-BOOK –
    Books are the collection of words which form different types of stories, poems, articles on different issues, topic
    wise essays, helpful guidelines or many other knowledge based information related to any kind of imaginary or
    existing things in this world.Bookstores are
    special places, full of the smell of new books, browsing the shelves for your next great read, booksellers you know
    you can count on for great, personal recommendations, a community you know will be open and welcoming.
    Reading is important because it develops your mind and gives you excessive knowledge and lessons of life. It helps
    you understand the world around you better. It keeps your mind active and enhances your creative ability.
    We know that booksellers help readers discover and share the magic of books. They are dedicated to helping you find
    the book you need--the book that could change your life. When they recommend a book to you, they are genuinely
    looking to make a connection and create an experience for you.</p>