
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url(assets/img/bg-img/background.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h2>New Collection</h2>
                        <a routerLink="/shop" class="btn essence-btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay" style="background-image: url(assets/img/bg-img/GLOBAL.jpg);">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                <h6></h6>
                                <h2>Global Sale</h2>
                                <a routerLink="/shop" class="btn essence-btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Books</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                
                
                    
                        <!-- First One-->
                        <!-- Single Product -->
                        <div class="single-product-wrapper col-3">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="assets/img/product-img/PRIDE.jpg" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="assets/img/product-img/prideback.jpg" alt="">
                                <!-- Favourite -->
                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>COLLINS CLASSICS</span>
                                <a href="single-product-details.html">
                                    <h6>PRIDE AND PREJUDICE - JANE AUSTEN</h6>
                                </a>
                                <p class="product-price"></p>

                                <!-- Hover Content -->
                                <div>
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a routerLink='/shop' class="btn essence-btn">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second One-->
                        <!-- Single Product -->
                        <div class="single-product-wrapper col-3">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="assets/img/product-img/hamletf.jpg" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="assets/img/product-img/hamletb.jpg" alt="">
                                <!-- Favourite -->
                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>folger</span>
                                <a href="single-product-details.html">
                                    <h6>HAMLET - SHAKESPEARE</h6>
                                </a>
                                <p class="product-price"></p>

                                <!-- Hover Content -->
                                <div>
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a routerLink='/shop' class="btn essence-btn">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Third One-->
                        <!-- Single Product -->
                        <div class="single-product-wrapper col-3">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="assets/img/product-img/becoming.jpg" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="assets/img/product-img/becomingb.jpg" alt="">

                                <!-- Product Badge -->
                                <!-- <div class="product-badge offer-badge">
                                    <span></span>
                                </div> -->

                                <!-- Favourite -->
                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>PENGIUN</span>
                                <a href="single-product-details.html">
                                    <h6>BECOMING - MICHELLE OBAMA</h6>
                                </a>
                                <p class="product-price"><span class="old-price"></span> </p>

                                <!-- Hover Content -->
                                <div >
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a routerLink='/shop' class="btn essence-btn">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fourth One-->
                        <!-- Single Product -->
                        <div class="single-product-wrapper col-3">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="assets/img/product-img/annafront.jpg" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="assets/img/product-img/annaback.jpg" alt="">

                                <!-- Product Badge -->
                               

                                <!-- Favourite -->
                                <div class="product-favourite">
                                    <!-- <a href="#" class="favme fa fa-heart"></a> -->
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>fp</span>
                                <a href="single-product-details.html">
                                    <h6>ANNA KARENINA - LEO TOLSTOY</h6>
                                </a>
                                <p class="product-price"></p>

                                <!-- Hover Content -->
                                <div >
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a routerLink='/shop' class="btn essence-btn">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                
            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->

    <!-- ##### Brands Area Start ##### -->
    <div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/core-img/n1.jpg" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/core-img/n2.jpg" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/core-img/n3.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/core-img/n4.jpg" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets//img/core-img/n5.jpg" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets//img/core-img/n6.jpg" alt="">
        </div>
    </div>